tls://.:853 {
    tls /data/caddy/certificates/acme-v02.api.letsencrypt.org-directory/dot.domain/dot.domain.crt /data/caddy/certificates/acme-v02.api.letsencrypt.org-directory/dot.domain/dot.domain.key
    forward . pihole:53
}
