global:
    smtp_from: 'username@gmail.com'
    smtp_smarthost: 'smtp.gmail.com:587'
    smtp_auth_username: 'username@gmail.com'
    smtp_auth_password: ''
    smtp_require_tls: true

route:
    receiver: 'default-team'
    group_by: ['alertname']
    routes:
        - match:
            severity: critical
          receiver: 'critical-team'
        - match:
            severity: warning
          receiver: 'warning-team'

receivers:
    - name: 'default-team'
      email_configs:
        - to: 'username@gmail.com'
    - name: 'critical-team'
      email_configs:
        - to: 'username+picritical@gmail.com'
    - name: 'warning-team'
      email_configs:
        - to: 'username+piwarning@gmail.com'
