dot.domain {
    tls {
        issuer acme {
            dns cloudflare AUTH_TOKEN
            resolvers adguard_home

            preferred_chains smallest
        }
    }

    respond "Hello, world!"
}
